{% extends "base.html" %}

{% block title %}Password Reset{% endblock %}

{% block content %}
  <div align="center">
    {% if validlink %}
      <p>Please enter (and confirm) your new password.</p>
      <br>
      {% if form.email.errors %}
          {{ form.email.errors }}
      {% endif %}
      <form action="" method="post">
        {% csrf_token %}
        <table>
          <tr>
            <td>{{ form.new_password1.errors }}
              <label for="id_new_password1">New password:</label>
            </td>
            <td>{{ form.new_password1 }}</td>
          </tr>
          <tr>
            <td>{{ form.new_password2.errors }}
              <label for="id_new_password2">Confirm password:</label>
            </td>
            <td>{{ form.new_password2 }}</td>
          </tr>
          <tr><td></td></tr>
        </table>
        <br>
        <input class="btn btn-secondary" style="width: 140px" type="submit" value="Submit"></td>
      </form>
    {% else %}
      <h1>Password reset failed</h1>
      <p>The password reset link was invalid, possibly because it has already been used.</p>
      <p>Please request a new password reset.</p>
    {% endif %}
  </div>
{% endblock %}