{% extends "base.html" %}

{% block title %}Password Reset - Email{% endblock %}

{% block content %}
<div align="center">
  {% if form.email.errors %}
      {{ form.email.errors }}
  {% endif %}
  <form action="" method="post">
    {% csrf_token %}
    <table>
      <tr>
        <td>{{ form.email.label_tag }}</td>
        <td></td>
        <td>{{ form.email }}</td>
      </tr>
    </table>
    </br>
    <input type="submit" class="btn btn-secondary" style="width: 140px" value="Reset password">
  </form>
</div>
{% endblock %}