{% load static %}
<!DOCTYPE html>
  <html>
    <head>
      <title>{% block title %}{% endblock %}</title>
      {% load bootstrap5 %}
      {% bootstrap_css %}
      {% bootstrap_javascript %}
      <link rel="stylesheet" href="{% static 'css/main.css' %}">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
      <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
      <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
      <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
      <link rel="icon" href="/static/images/suits-style-drawing.svg">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;700&display=swap" rel="stylesheet">
    </head>

    <body>
      <nav class="navbar navbar-expand-sm navbar-light bg-light sticky-top" style="height: 73px">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'home' %}">🃏 What's Trumps?</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
              </li>

              {% if user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'games' %}">Games</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'players' %}">Players</a>
                </li>
                {% comment %} TODO: Add some stats! {% endcomment %}
                {% comment %} <li class="nav-item">
                  <a class="nav-link" href="#">Stats</a>
                </li> {% endcomment %}
              {% endif %}

              <li class="nav-item">
                <a class="nav-link" href="{% url 'info' %}">Info</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'rules' %}">Rules</a>
              </li>

              {% if user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
              {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'django_registration_register' %}">Register</a>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>

      <br>
      <div class="container" style="padding-bottom: 73px">
        {% block content %}
        {% endblock %}
      </div>
      <br>

      <footer class="text-center text-lg-start bg-light text-muted fixed-bottom">
        <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
          <div class="me-5 d-none d-lg-block">
            <span>© 2023 by Rich Barton-Cooper</span>
          </div>
          <div>
            <a href="https://www.linkedin.com/in/rich-cooper/" class="me-4 text-reset" style="text-decoration: none" target="_blank">
              <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://github.com/richcooper95" class="me-4 text-reset" style="text-decoration: none" target="_blank">
              <i class="fab fa-github"></i>
            </a>
          </div>
        </section>
      </footer>
    </body>

    {% block extrascripts %}{% endblock %}

    <script>
      function setColumnWidths(table) {
        const headers = table.querySelectorAll("th");
        const numColumns = headers.length;
        const width = 100 / numColumns + "%";
        headers.forEach(header => {
          header.style.width = width;
        });
      }

      const tables = document.querySelectorAll(".table-equal-width > table");

      tables.forEach(table => {
        setColumnWidths(table);
      });

      console.log("Tables resized");
    </script>
  </html>
