{% load static %}
<!DOCTYPE html>
  <html>
    <head>
      <title>{% block title %}{% endblock %}</title>
      {% load bootstrap5 %}
      {% bootstrap_css %}
      {% bootstrap_javascript %}
      <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
      <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
      <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
      <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🃏</text></svg>">
    </head>

    <body>
      <nav class="navbar navbar-expand-lg navbar-light bg-light" style="height: 73px">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'home' %}">🃏 What's Trumps?</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
              </li>

              {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'games' %}">Games</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'players' %}">Players</a>
              </li>
              {% comment %} TODO: Add some stats! {% endcomment %}
              {% comment %} <li class="nav-item">
                <a class="nav-link" href="#">Stats</a>
              </li> {% endcomment %}
              {% endif %}

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  About
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Info</a></li>
                  <li><a class="dropdown-item" href="#">Rules</a></li>
                </ul>
              </li>
            </ul>
            <span class="navbar-text" style="width: 40%">
              <table align="right">
                {% if not user.is_authenticated %}
                  <tr>
                    <td style="width: 68%" align="right"><a class="btn btn-light btn-sm" style="width: 70px" href="{% url 'login' %}">Log in</a></td>
                    <td style="width: 2%"></td>
                    <td style="width: 25%"><a class="btn btn-light btn-sm" style="width: 70px" href="{% url 'django_registration_register' %}">Sign up</a></td>
                  </tr>
                {% else %}
                  <tr>
                    <td style="width: 68%" align="right">Hello, {{ user.username }}.</td>
                    <td style="width: 2%"></td>
                    <td style="width: 25%"><a class="btn btn-light btn-sm" style="width: 70px" href="{% url 'logout' %}">Log out</a></td>
                  </tr>
                {% endif %}
              </table>
            </span>
          </div>
        </div>
      </nav>

      <br>
      <div class="container">
        {% block content %}
        {% endblock %}
      </div>
      <br>

      <!-- Footer -->
      <footer class="text-center text-lg-start bg-light text-muted fixed-bottom">
        <!-- Section: Social media -->
        <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
          <!-- Left -->
          <div class="me-5 d-none d-lg-block">
            <span>© 2023 by Rich Barton-Cooper</span>
          </div>
          <!-- Left -->

          <!-- Right -->
          <div>
            <a href="https://www.linkedin.com/in/rich-cooper/" class="me-4 text-reset" target="_blank">
              <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://github.com/richcooper95" class="me-4 text-reset" target="_blank">
              <i class="fab fa-github"></i>
            </a>
          </div>
          <!-- Right -->
        </section>
        <!-- Section: Social media -->
      </footer>
      <!-- Footer -->
    </body>
  </html>
