{% extends "game_base.html" %}

{% block game_round_content %}
  <table class="table">
    <tr class="table-secondary">
      <th></th>
      {% for game_player in game_players %}
        <th>{{game_player.player.name}}</th>
      {% endfor %}
    </tr>
    <tr>
      <th>Score</th>
      {% for game_player in game_players %}
        <td>
          {{game_player.score}}
        </td>
      {% endfor %}
  </table>

  {% if not game.is_ongoing %}
    <br>
    <h3 align="center">Congratulations, {{ winning_players }}! 🥳</h3>

    <p align="center">That was fun! Want to play a new game?</p>

    <table class="table table-borderless">
      <tr>
        <td align="center">
          <a role="button" style="width: 120px" class="btn btn-secondary" href="{% url 'game_create' %}">Play again</a>
        </td>
        <td align="center">
          <a role="button" style="width: 120px" class="btn btn-danger" href="{% url 'game_delete' game.id %}">Delete game</a>
        </td>
      </tr>
    </table>
  {% else %}
    <table align="center" style="width: 25%" class="table table-borderless">
      <tr>
        <td align="center">
          <a style="width: 120px" role="button" class="btn btn-secondary" href="{% url 'game_round_bids' game.id latest_game_round.id %}">Next round</a>
        </td>
        <td align="center">
          <a style="width: 120px" role="button" class="btn btn-danger" href="{% url 'game_delete' game.id %}">Delete game</a>
        </td>
      </tr>
    </table>
  {% endif %}

{% endblock %}
