{% extends "base.html" %}

{% block title %}Games{% endblock %}

{% block content %}
  <div class="container-fluid">
	  <h4 align="center">Games</h4>
    <a role="button" class="btn btn-secondary" href="{% url 'games/new' %}">Create game</a>
    <table class="table">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Created</th>
        <th scope="col">Players</th>
        <th scope="col">Finished?</th>
        <th scope="col">Winner</th>
      </tr>
      {% for game in games %}
        <tr>
          <td>{{ game.name }}</td>
          <td>{{ game.inserted_at|date }}</td>
          <td>{{ game.game_players_count }}</td>
          <td>{% if not game.is_ongoing %} ✅ {% else %} ❌ {% endif %}</td>
          <td>{{ game.winning_player }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
