{% extends "game_base.html" %}

{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block title %}Games{% endblock %}

{% block game_round_content %}
  <div class="container-fluid" style="padding: 0px">
    <h5 align="center">Round {{game_round.round_number}}: Scores</h5>
    <small><i>Players are shown in the order they played this round.</i></small>
    <form method="post" align="center">
      {% csrf_token %}
      <div class="table-responsive table-equal-width">
        <table class="table" style="white-space: nowrap">
          <thead>
            <tr class="table-secondary">
              <th style="width: 140px"></th>
              {% for round_player in round_players %}
                <th>{{round_player.game_player.player.name}}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="align-middle"><strong>Tricks</strong></td>
              {% for field in form.visible_fields %}
                <td>
                  {% if form.is_bound %}
                    {% if field.errors %}
                      {% render_field field class="form-control is-invalid" %}
                      {% for error in field.errors %}
                        <div class="invalid-feedback">
                          {{ error }}
                        </div>
                      {% endfor %}
                    {% else %}
                      {% render_field field class="form-control is-valid" %}
                    {% endif %}
                  {% else %}
                    {% render_field field class="form-control" %}
                  {% endif %}
                </td>
              {% endfor %}
            </tr>
          </tbody>
        </table>
      </div>
      {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
          <div class="alert alert-danger" role="alert">
            {{ error }}
          </div>
        {% endfor %}
      {% endif %}
      <table align="center" style="width: 25%" class="table table-borderless">
        <tr>
          <td align="center">
            <a style="width: 140px" role="button" class="btn btn-secondary" href="{% url 'game_show' game.id %}">Back</a>
          </td>
          <td align="center">
            <button type="submit" style="width: 140px" class="btn btn-secondary">Save</button>
          </td>
        </tr>
      </table>
    </form>
  </div>
{% endblock %}

{% block extrascripts %}
    <script type="text/javascript">
      // When the page has finished loading, autofocus on the input field for
      // the given player number.
      $(document).ready(function() {
        window.onload = function() {
          $("input#id_tricks_won_{{player_number}}").focus();
          $("input#id_tricks_won_{{player_number}}").select();
        };
      });
    </script>
{% endblock %}
