{% extends "game_base.html" %}

{% block game_round_content %}
  {% if not game.is_ongoing %}
    <br>
    <h3 align="center">Congratulations, {{ winning_players }}! 🥳</h3>

    <p align="center">That was fun! Want to play a new game?</p>

    <table align="center" style="width: 25%" class="table table-borderless">
      <tr>
        <td align="center">
          <a role="button" style="width: 140px" class="btn btn-secondary" href="{% url 'game_create' %}">Play again</a>
        </td>
        <td align="center">
          <a role="button" style="width: 140px" class="btn btn-danger" href="{% url 'game_delete' game.id %}">Delete game</a>
        </td>
      </tr>
    </table>
  {% elif latest_game_round.total_tricks_predicted %}
    <table align="center" style="width: 25%" class="table table-borderless">
      <tr>
        <td align="center">
          <a style="width: 140px" role="button" class="btn btn-secondary" href="{% url 'game_round_scores' game.id latest_game_round.round_number %}">Score Round {{latest_game_round.round_number}}</a>
        </td>
        <td align="center">
          <a style="width: 140px" role="button" class="btn btn-danger" href="{% url 'game_delete' game.id %}">Delete game</a>
        </td>
      </tr>
    </table>
  {% else %}
    <table align="center" style="width: 25%" class="table table-borderless">
      <tr>
        <td align="center">
          <a style="width: 140px" role="button" class="btn btn-secondary" href="{% url 'game_round_bids' game.id latest_game_round.round_number %}">Start Round {{latest_game_round.round_number}}</a>
        </td>
        <td align="center">
          <a style="width: 140px" role="button" class="btn btn-danger" href="{% url 'game_delete' game.id %}">Delete game</a>
        </td>
      </tr>
    </table>
  {% endif %}

  {% if game_rounds %}
    <div class="table-responsive table-equal-width">
      <table class="table table-hover" style="text-align: center; white-space: nowrap">
        <tr class="table-secondary">
          <th style="width: 70px">Round</th>
          {% for game_player in game_players %}
            <th colspan="3">{{game_player.player.name}}</th>
          {% endfor %}
        </tr>

        {% for round_number, round_players in game_rounds %}
          <tr>
            <td><strong>{{round_number}}</strong></td>
            {% for round_player in round_players %}
              <td style="padding-right: 0px; text-align: right; border-left: 0.5pt solid grey">
                <a href="{% url 'game_round_bids' game.id round_number round_player.player_number %}" title="Click to edit bid" style="text-decoration: none; width: 100%; color: black">
                  <tt>{{round_player.tricks_predicted}}</tt>
                </a>
              </td>
              <td style="padding-left: 0px; padding-right: 0px; width: 40px">
                <a href="{% url 'game_round_scores' game.id round_number round_player.player_number %}" title="Click to edit score" style="text-decoration: none; width: 100%; color: black">
                  <tt>{{round_player.tricks_won}}</tt>
                </a>
              </td>
              <td style="padding-left: 0px; text-align: left">
                <tt><strong>{{round_player.score}}</strong></tt>
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
      </table>
    </div>
    <ul style="list-style: none">
      <li><small><tt>A B <strong>C</strong></tt> means the player predicted <tt>A</tt> tricks, won <tt>B</tt> tricks, and scored <tt>C</tt> points.</small></li>
      <li><small>Click on any <tt>A</tt> or <tt>B</tt> number in the table above to edit it.</small></li>
    </ul>
  {% endif %}

{% endblock %}
