{% extends "base.html" %}

{% block title %}Games{% endblock %}

{% block content %}
  <div class="container-fluid">
	  <h4 align="center">Games</h4>
    <br>
    <div align="center">
      <a role="button" style="width: 140px" class="btn btn-secondary" href="{% url 'game_create' %}">+ New</a>
		</div>
		<br>
    <h5>Ongoing</h5>
		{% if ongoing_games|length == 0 %}
      <div class="alert alert-info" style="width: 100%; text-align: center" role="alert">
        No games in progress. Start one with <b>+ New</b> above.
      </div>
    {% else %}
      <table class="table table-hover align-middle">
        <tr>
          <th style="width: 35%" scope="col">Name</th>
          <th style="width: 25%" scope="col">Players</th>
          <th style="width: 10%" scope="col">Created</th>
          <th style="width: 10%" scope="col" align="right"></th>
          <th style="width: 10%" scope="col" align="right"></th>
          <th style="width: 10%" scope="col" align="right"></th>
        </tr>
        {% for game in ongoing_games %}
          <tr>
            <td>{{ game.name }}</td>
            <td>{{ game.player_names }}</td>
            <td>{{ game.inserted_at|date:"d/m/y" }}</td>
            <td></td>
            <td>
              <a role="button" style="width: 100px" class="btn btn-secondary btn-sm" href="{% url 'game_show' game.id %}">Continue</a>
            </td>
            <td>
              <a role="button" style="width: 100px" class="btn btn-danger btn-sm" href="{% url 'game_delete' game.id %}">Delete</a>
            </td>
          </tr>
        {% endfor %}
      </table>
    {% endif %}

		<br>
		<br>

	  <h5>Completed</h5>
		{% if completed_games|length == 0 %}
      <div class="alert alert-info" style="width: 100%; text-align: center" role="alert">
        No games have completed yet!
      </div>
		{% else %}
    <table class="table table-hover align-middle">
      <tr>
        <th style="width: 35%" scope="col">Name</th>
        <th style="width: 25%" scope="col">Players</th>
        <th style="width: 10%" scope="col">Created</th>
        <th style="width: 10%" scope="col">Winner</th>
        <th style="width: 10%" scope="col" align="right"></th>
        <th style="width: 10%" scope="col" align="right"></th>
      </tr>
      {% for game in completed_games %}
        <tr>
          <td>{{ game.name }}</td>
          <td>{{ game.player_names }}</td>
          <td>{{ game.inserted_at|date:"d/m/y" }}</td>
          <td>{{ game.winning_player }}</td>
          <td>
            <a role="button" style="width: 100px" class="btn btn-secondary btn-sm" href="{% url 'game_show' game.id %}">View</a>
          </td>
          <td>
					  <a role="button" style="width: 100px" class="btn btn-danger btn-sm" href="{% url 'game_delete' game.id %}">Delete</a>
					</td>
        </tr>
      {% endfor %}
    </table>
		{% endif %}
  </div>
{% endblock %}
