{% extends "base.html" %}

{% block title %}Game: {{game.name}}{% endblock %}

{% block content %}
  <div class="container-fluid">
	  <h4 align="center"><strong>Game:</strong> {{game.name}}</h4>
    <br>
    <table class="table table-light table-borderless" align="center">
      <tr>
        <td align="center"><strong>Created:</strong> {{game.inserted_at}}</td>
      </tr>
    </table>

    <table class="table table-light table-borderless" align="center">
      <tr>
        <td align="center"><strong>Round:</strong> {{latest_game_round.round_number}}</td>
        <td align="center"><strong>Trumps:</strong> {{trump_suit|safe}}</td>
        <td align="center"><strong>Cards:</strong> {{latest_game_round.card_number}}</td>
        <td align="center"><strong>Dealer:</strong> {{dealer_name}}</td>
        <td align="center"><strong>Leader(s):</strong> {{winning_players}}</td>
      </tr>
    </table>

    <table class="table" style="text-align: center">
      <tr class="table-secondary">
        <th></th>
        {% for game_player in game_players %}
          <th>{{game_player.player.name}}</th>
        {% endfor %}
      </tr>
      <tr>
        <th style="width: 90px">Score</th>
        {% for game_player in game_players %}
          <td>
            <tt>{{game_player.score}}</tt>
          </td>
        {% endfor %}
      </tr>
    </table>

    {% block game_round_content %}{% endblock %}

  </div>
{% endblock %}
