{% extends "base.html" %}

{% load static %}

{% block title %}What's Trumps?{% endblock %}

{% block content %}
  <div class="container-fluid">
    <table style="width: 80%; height: 100%" class="table table-borderless" align="center">
      <tr><td align="center" class="align-bottom"><h4>Welcome to 🃏 What's Trumps?</h4></td></tr>
      <tr><td align="center" class="align-top">No more <i>pen and paper tables</i> with <i>wonky lines</i> and <i>dodgy maths.</i> 🧮</td></tr>
      <tr><td align="center" class="align-top"><i>Simplify</i> your games of whist with this handy scoring system and <i>never miss a trick again.</i> 😌</td></tr>
      <tr><td></td></tr>
      <tr><td class="align-bottom" align="center" style="width: 45%">
        <img src="{% static '/images/card-drawing-N.png' %}" width="40%">
      </td></tr>
    </table>
  </div>
{% endblock %}
