{% extends "base.html" %}

{% block title %}What's Trumps?{% endblock %}

{% block content %}
  <div class="container-fluid">
    <table style="width: 80%; height: 100%" class="table table-borderless" align="center">
      <tr><td align="center" class="align-bottom"><h4>Welcome to 🃏 What's Trumps?</h4></td></tr>
      <tr><td align="center" class="align-top"><p><i>Where all your predictive whist dreams come true!</i></p></td></tr>
      <td class="align-bottom" align="center" style="width: 45%">
        <img src="/static/images/trump-confused-2.png" width="70%">
      </td>
    </table>
  </div>
{% endblock %}
