{% extends "base.html" %}

{% block title %}Info{% endblock %}

{% block content %}
  <div class="container-fluid">
    <table style="width: 80%; height: 100%" class="table table-borderless">
      <tr><td class="align-bottom"><h4>What's What's Trumps?</h4></td></tr>
      <tr><td>What's Trumps? is a website for scoring games of Nomination Whist.</td></tr>
      <tr><td>It provides way to score and track the games you play, so no one argues about points, and the trump suit is <i>veeeery</i> obvious each round to save the inevitable, repeated calls of: "What's trumps?"</td></tr>
      <tr><td></td></tr>
      <tr><td class="align-bottom"><h4>What's Nomination Whist?</h4></td></tr>
      <tr><td><strong>Nomination Whist</strong> <i>(n.)</i> - a card game in which players try to predict the number of tricks they will win each round, and inevitably get frustrated when they don't.</td></tr>
      <tr><td><i>See also:</i> <strong>Oh Hell!</strong>, <strong>Oh Shit!</strong> (if you're really frustrated), <strong>Oh Well!</strong> (for those with some perspective), <strong>Oh Pshaw!</strong>, <strong>Elevator</strong> (<strong>l'Ascenseur</strong> in France), <strong>Contract Whist</strong>, <strong>Predictive Whist</strong> (possibly only in my family), <strong>Boerenbridge</strong>, <strong>German Bridge</strong>, <strong>Kachuful</strong>, <strong>Up and Down the River</strong>, <strong>Bust</strong>, <strong>Blob</strong>, <strong>Blackout</strong>.</td></tr>
      <tr><td>For a full explanation of the how to play, see the <a href="{% url 'rules' %}" style="text-decoration: none">Rules</a> section.</td></tr>
    </table>
  </div>
{% endblock %}
