{% extends "base.html" %}

{% block title %}Players{% endblock %}

{% block content %}
  <div class="container-fluid">
  <h4 align="center">Players</h4>
		<br>
    <div align="center">
      <a role="button" style="width: 140px" class="btn btn-secondary" href="{% url 'player_create' %}">+ New</a>
		</div>
		<br>
		{% if players|length == 0 %}
      <div class="alert alert-info" style="width: 100%; text-align: center" role="alert">
        No players yet. Add one with <b>+ New</b> above.
      </div>
    {% else %}
      <table class="table table-hover align-middle">
        <tr>
          <th style="width: 35%" scope="col">Name</th>
          <th style="width: 20%" scope="col">Created</th>
          <th style="width: 15%" scope="col">Ongoing games</th>
          <th style="width: 15%" scope="col">Completed games</th>
          <th style="width: 15%" scope="col" align="right"></th>
        </tr>
        {% for player in players %}
          <tr>
            <td>{{ player.full_name }}</td>
            <td>{{ player.inserted_at|date:"d/m/y" }}</td>
            <td>{{ player.ongoing_games }}</td>
            <td>{{ player.completed_games }}</td>
            <td>
              {% if player.is_deletable %}
                <a
                  role="button"
                  style="width: 100px"
                  class="btn btn-danger btn-sm"
                  href="{% url 'player_delete' player.id %}"
                >Delete</a>
              {% else %}
                <button
                  type="button"
                  style="width: 100px"
                  class="btn btn-danger btn-sm"
                  disabled
                >Delete</button>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </table>
      <small>
        <b>Note: </b>
        Players with ongoing games cannot be deleted, and you cannot delete yourself.
      </small>
    {% endif %}
  </div>
{% endblock %}
