{% extends "base.html" %}

{% block title %}Sign up{% endblock %}

{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
  <table class="table table-borderless">
    <tr>
      <td>
        <form method="post" action=".">
          {% csrf_token %}
          <table align="center">
            {{ form|crispy }}
          </table>
          <input class="btn btn-secondary" style="width: 120px" type="submit" value="{% trans 'Register' %}" />
        </form>
      </td>
    </tr>
    <tr class="align-middle" align="center">
      <td style="width: 45%">
        <img src="/static/images/aces.png" width="40%">
      </td>
    </tr>
  </table>
{% endblock %}
